@import "../../shared/variables.css";

/* .name-s {
}
.name-z {
}
.name-a {
}
.name-b {
}
.name-i {
}

.name-j {
}
.name-t {
}
.name-e {
}
.name-k {
} */

.visible {
  animation: changeColor 1s forwards;
}

@keyframes changeColor {
  from {
    color: var(--green);
  }
  to {
    color: var(--offwhite);
  }
}
