:root {
  --green: #0b6353;
  --offwhite: #eae6dc;
  --white: #fff;
  --error: #d32f2f;
  --fontMainColor: #343332;
  --font-secondary-color: #555555;
  --font-main: "Open Sans", sans-serif;
  --font-secondary: "Open Sans Condensed", sans-serif;
}
