@import "../../shared/variables.css";

.nav-link {
  font-family: "Open sans", sans serif;
  color: var(--fontMainColor);
  text-decoration: "none";
  letter-spacing: 3px;
  /* ? or fontWeight: 800 - or just on small/large screen */
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
  transition: transform 0.2s ease;
  cursor: pointer;
  z-index: 100;
}

.nav-link:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 421px) and (max-width: 800px) {
  .nav-link {
    margin: 0 30px 0 20px;
  }
}

@media screen and (min-width: 1920px) {
  .nav-link {
    font-weight: 700;
    font-size: 24px;
  }
}
